## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats
*.cache
*.vspscc
*.vssscc
.vs/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## IDE
.idea/
*.swp
*~
.vscode/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
